<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{base :: layout (~{:: main})}">
<head>
  <meta charset="UTF-8"/>
</head>
<body>
<main>
  <h1 th:text="${add} ? 'Cadastrar Cliente' : 'Editar Cliente'"></h1>
  <a th:href="@{/clientes}">Voltar</a>
  <br/><br/>
  <form th:action="${add} ? @{/cliente/add} : @{/cliente/{clienteId}/edit(clienteId=${cliente.id})}"
        th:object="${cliente}" th:method="${add} ? 'POST' : 'PUT'">

    <div class="container">
      <div th:if="${cliente.id}" class="mb-3 row">
        <label for="inputId" class="col-sm-2 col-form-label">Id</label>
        <div class="col-sm-3">
          <input type="text" th:readonly="${add} ? 'false' : 'true'" th:field="${cliente.id}" class="form-control" id="inputId">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputNome" class="col-sm-2 col-form-label">Nome</label>
        <div class="col-sm-3">
          <input type="text" th:readonly="${add} ? 'false' : 'true'" th:field="*{nome}" class="form-control" id="inputNome">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputTipo" class="col-sm-2 col-form-label">Tipo</label>
        <div class="col-sm-3">
          <input type="text" th:field="*{tipo}" class="form-control" id="inputTipo">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputNumeroDoc" class="col-sm-2 col-form-label">Número Documento</label>
        <div class="col-sm-3">
          <input type="text" th:field="*{numeroDoc}" class="form-control" id="inputNumeroDoc">
        </div>
      </div>
      <div class="mb-3 row">
        <label for="inputVeiculo" class="col-sm-2 col-form-label">Veiculo</label>
        <div class="col-sm-3">
          <input type="text" th:field="*{veiculo}" class="form-control" id="inputVeiculo">
        </div>
      </div>
      <!--<div class="d-flex">
        <label class="col-sm-2 col-form-label">Disponível</label>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="true" id="flexRadioDefault1" th:field="*{disponivel}">
          <label class="form-check-label" for="flexRadioDefault1">Sim</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" type="radio" name="flexRadioDefault" value="false" id="flexRadioDefault2" th:field="*{disponivel}" checked>
          <label class="form-check-label" for="flexRadioDefault2">Não</label>
        </div>
      </div>-->
      <input type="submit" value="Cadastrar Cliente" class="btn btn-primary mb-3"/>
    </div>
  </form>
  <br/>
</main>
</body>
</html>