<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/%22%3E">
<head>
  <meta charset="UTF-8">
  <title>Clientes</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
</head>
<body>
<h1>Clientes</h1>

<div>
  <nobr>
    <a th:href="@{/cliente/add}">Add Cliente</a> |
    <a th:href="@{/}">Voltar</a>
  </nobr>
</div>
<br/><br/>
<div>
  <table border="table">
    <tr>
      <th>Id</th>
      <th>Nome</th>
      <th>Tipo</th>
      <th>NumeroDoc</th>
      <th>Veiculo</th>
    </tr>
    <tr th:each ="cliente : ${clientes}">
      <td th:utext="${cliente.id}">...</td>
      <td th:utext="${cliente.nome}">...</td>
      <td th:utext="${cliente.tipo}">...</td>
      <td th:utext="${cliente.numeroDoc}">...</td>
      <td th:utext="${cliente.veiculo}">...</td>
      <td>
        <a class="btn btn-primary btn-sm" th:href="@{/cliente/{clienteId}/edit(clienteId=${cliente.id})}">Edit</a>
        <a class="btn btn-danger btn-sm" th:href="@{/cliente/{clienteId}/delete(clienteId=${cliente.id})}">Delete</a>
      </td>
    </tr>
  </table>
</div>
<br/>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
</body>
</html>