<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org/%22%3E" th:replace="~{base :: layout (~{:: main})}">
<head>
  <meta charset="UTF-8">
  <title>Clientes</title>
</head>
<body>
<main>
  <h1>Clientes</h1>

  <div>
    <nobr>
      <a th:href="@{/cliente/add}">Add Cliente</a> |
      <a th:href="@{/}">Voltar</a>
    </nobr>
  </div>
  <br/><br/>
  <div>
    <table class="table">
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>Tipo</th>
        <th>NumeroDoc</th>
        <th>Veiculo</th>
      </tr>
      <tr th:each ="cliente : ${clientes}">
        <td th:utext="${cliente.id}">...</td>
        <td th:utext="${cliente.nome}">...</td>
        <td th:utext="${cliente.tipo}">...</td>
        <td th:utext="${cliente.numeroDoc}">...</td>
        <td th:utext="${cliente.veiculo}">...</td>
        <td>
          <a class="btn btn-primary btn-sm" th:href="@{/cliente/{clienteId}/edit(clienteId=${cliente.id})}">Edit</a>
          <a class="btn btn-danger btn-sm" th:href="@{/cliente/{clienteId}/delete(clienteId=${cliente.id})}">Delete</a>
        </td>
      </tr>
    </table>
  </div>
  <br/>
</main>
</body>
</html>